*{
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  width: 96%;
  margin: 0 auto;
}
.block{
  background-color: #bebebe;
  margin-bottom: 25px;
  min-height: 100px;
  display: flex;
}
.flex-center-x-y{
  display:flex;
  justify-content: center;
  align-items:center
}
.header{
  min-height: 200px;
}
.block3{
  justify-content: space-between;
}
.block-item{
  min-height: 30px;
  min-width: 50px;
  width: 100%;
  margin: 0 15px;
}
.block3 .block-item:first-child {
  margin-left: 0;
}
.block3 .block-item:last-child {
  margin-right: 0;
}
.block3 .block-item:nth-child(1) {
  background-color: red;
}
.block3 .block-item:nth-child(2) {
  background-color: blue;
}
.block3 .block-item:nth-child(3) {
  background-color: red;
}
.block3 .block-item:nth-child(4) {
  background-color: blue;
}
.block4{
  min-height: 120px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.block4-left {
  flex-basis: calc(50% - 15px);
  background-color: red;

}
.block4-right {
  flex-basis: calc(50% - 15px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quick-link{
  min-height: 50px;
  background-color: violet;
  flex-basis: calc(40% - 15px);
}
.quick-link:nth-child(2){
  min-height: 50px;
  background-color: aqua;
  flex-basis: calc(60% - 15px);
}